{% extends "layouts/base.html" %}

{% block title %} Freelancer Page {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<main>
    <section class="section-header bg-secondary text-black" height='100%'>
        <div class="container">
            <div class="row justify-content-between align-items-center">
                <div class="col-12 text-center text-md"></div>
                <div class="card shadow mb-6">
                    <div class="card-body px-5 py-5 text-center text-md-left">
                        <div class="row align-items-center">
                            <div id='body'>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='alert alert-danger'> <span class="fas fa-info-circle"></span> Depending on your library, it might take a few minutes to make your
                    playlist. Check back often, but do not refresh.</div>
            </div>
        </div>
        </div>

    </section>
    <div class="container">
        <hr class="bg-secondary my-3 my-lg-5">
        <div class="row">
            <div class="col mb-md-0">
                <div class="d-flex text-center justify-content-center align-items-center" role="contentinfo">
                    <p class="fw-normal font-small mb-0">
                        &copy; Made with <span style="color: #e25555;">&#9829;</span> by Visakh Madathil.
                    </p>
                </div>
            </div>
        </div>
    </div>

</main>


{% endblock content %}

<!-- Specific Page JS goes HERE  -->



{% block javascripts %}

<script src="https://unpkg.com/typewriter-effect@latest/dist/core.js"></script>

<script>
    var app = document.getElementById('body');

    var typewriter = new Typewriter(app, {
        loop: true,
        cursor: ''
    });

    typewriter.typeString('<h2>Connecting to Spotify</h2>')
        .pauseFor(3000)
        .deleteAll()
        .typeString('<h2>Looking at your library....</h2>')
        .pauseFor(3000)
        .deleteAll()
        .typeString('<h2>Your music taste is...uhhhh to say the least</h2>')
        .pauseFor(3000)
        .deleteAll()
        .typeString('<h2>You REALLY listen to this?</h2>')
        .pauseFor(3000)
        .deleteAll()
        .typeString('<h2>Determining your favorite songs</h2>')
        .pauseFor(3000)
        .deleteAll()
        .typeString('<h2> ... nice... <h2>')
        .pauseFor(3000)
        .deleteAll()
        .typeString('<h2>Determining your favorite artists ... lol</h2>')
        .pauseFor(3000)
        .deleteAll()
        .typeString('<h2>I am still laughing at what you listen to </h2>')
        .pauseFor(3000)
        .deleteAll()
        .typeString('<h2>Training our song picking model</h2>')
        .pauseFor(3000)
        .deleteAll()
        .typeString('<h2>Finding some new songs for you</h2>')
        .pauseFor(3000)
        .deleteAll()
        .typeString('<h2>If these songs are bad only you are to blame</h2>')
        .pauseFor(3000)
        .deleteAll()
        .typeString("<h2>I know this is taking a while but you try sifting through Spotify's library</h2>")
        .pauseFor(3000)
        .deleteAll()
        .start();
</script>

<script>
    var request = new XMLHttpRequest();
    request.open('POST', '/create');

    request.onload = function () {
        if (request.status === 200 && request.responseText === 'done') {
            // long process finished successfully, redirect user
            window.location = '/success';
        } else {
            // ops, we got an error from the server
            alert('Something went wrong.');
        }
    };

    request.onerror = function () {
        // ops, we got an error trying to talk to the server
        alert('Something went wrong.');
    };

    request.send();

</script>

{% endblock javascripts %}